altgraph==0.17.5
chardet==7.5.1
humanfriendly==10.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
psutil==7.2.2
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pySMART==1.4.3
rich==15.0.0
setuptools==83.0.0
tabulate==0.10.0
